<style>
  .temp-container {
    width: 600px;
  }

  .preview {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
  }

  .preview__img {
    max-width: 100%;
  }
</style>
<body>
  <div class="temp-container">
    <div class="preview">
      <img alt="webpage presentation preview image" class="preview__img"
           src="https://www.amd.com/content/dam/amd/en/images/logos/corporate/1913654-homepage-twa-og-image.jpg"/>
      <p class="preview__title">together we advance_AI</p>
      <p class="preview__description">Get the competitive edge for AI, data center, business computing solutions &amp; gaming with AMD processors, graphics, FPGAs, Adaptive SOCs, & software.</p>
      <p class="preview__url">url</p>
    </div>
  </div>