:root {
  --color-primary: #42b1d5;
  --color-primary-darker: #2695c2;
  --color-primary-lighter: #65c2e1;
  --color-secondary: white;
  --color-accent: tomato;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* undefined yet */
.icon {
  height: 40px;
  width: 40px;
}

.btn {
  font-size: 2rem;
}

/* typography */
html {
  font-size: 62.5%;
  font-family: Calibri, serif;
  background: #f1f1f1;
  /*height: 400vh;*/
}

body {
  /*font-size: 3rem;*/
  /*margin-top: 2rem;*/
}

/* Header */
.header {
  background: #fff;
  display: flex;
  /*height: 5rem;*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  /*max-width: 1920px;*/
}

.header__icon {
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

.header__input {
  font-size: 2rem;
  /*width: ;*/
}


.header__btn {
  border-radius: 100%;
  border: 0;
  background: var(--color-primary);
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
  height: 40px;
  width: 40px;
}

.header__btn:hover {
  cursor: pointer;
}

/* container */
.container {
  max-width: 1920px;
}


/* search input */
.search-container {
  background: #fff;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 0 1rem;
  display: flex;
  width: 50%;
  height: 4rem;
  align-items: center;
}

.search-container input {
  display: inline-block;
  margin: 0 .5rem;
  border: 0;
  outline: 0;
  line-height: 1.1;
  font-size: 2.4rem;
  flex-grow: 1;
}

.search__icon {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  fill: var(--color-primary);
}

/* all post container */
#all-post-container {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  #all-post-container {
    width: 700px;
  }
}

/* create post */
.create-post-container {
  align-items: center;
  background: #fff;
  border-radius: 3rem;
  display: flex;
  height: 60px;
}

.post__input {
  background: #fff;
  border-radius: 3rem;
  flex-grow: 1;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
  padding: 0 1rem;
  text-align: left;
}

.post__input:hover {
  background: #f1f1f1;
}

/* profile photo*/
.profile-photo {
  /*display: inline-block;*/
  border-radius: 50%;
  height: 50px;
  margin: 0 .8rem;
  width: 50px;
}

picture {
  height: 50px;
}

/* right container */
#right-container {
  width: 300px;
  max-width: 300px;
}

/* media */
.media {
  /*margin-top: 1.5rem;*/
  display: flex;
  padding: 1rem;
}

.media__profile-photo {
  border-radius: 50%;
  /*padding: 1rem 1rem;*/
}

.media__name {
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

.media__content {
  font-size: 1.6rem;
  margin-top: .8rem;
  /*padding-top: 0;*/
}

/* buttons */
.btn {
  outline: 0;
  border: 0;
  border-radius: 3rem;
  padding: .7rem 2rem;
}

.btn svg {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
}

.btn.pressed.btn--primary, .btn.pressed:focus {
  background-color: var(--color-primary-darker);
}

.btn--primary {
  background: var(--color-primary);
  color: white;

}

.btn--primary:hover {
  background: var(--color-primary-lighter);
  color: white;
}

/* you may know */
.add-friend-person {
  padding: 1rem;
  background: #fff;
  border-radius: 2rem;
}

.add-friend-person > span {
  font-size: 2rem;
}

/* icons */
.icon {
  width: 20px;
  height: 20px;
}

.icon--secondary {
  fill: var(--color-secondary);
}

/* new post*/
.new-post-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /*border: 1px dotted red;*/
}

.new-post__head {
  display: flex;
  /*border: 1px red dotted;*/
  align-items: center;
  /*background: #65c2e1;*/
  /*height: 5rem;*/
}

.new-post__user-name {
  font-size: 3rem;
}

.new-post__body {
  margin: 2rem 0;
  flex-grow: 1;
  /*background-color: gold;*/
}

.new-post__body-textarea {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  resize: none;
  outline: 0;
  border: none;
  background: #f8f5f5;
  border-radius: 1rem;
}

.new-post__foot {
  display: flex;
  justify-content: flex-end;
}

/* page-container - structure */
/* todo update(delete) background on every element in this section*/
#page-container {
  /*border: 2px dotted green;*/
  display: grid;
  grid-template-rows: 5rem 1fr 10rem; /* height of rows */
  grid-template-columns: 300px 600px 300px; /* todo update accordingly */
  grid-template-areas:
          "header header header"
          "left   main   right"
          "footer footer footer";
  justify-content: center;
  gap: 20px
}

#page-container header {
  grid-area: header;
  /*background: gold;*/
}

#page-container #aside-left {
  grid-area: left;
  background: aquamarine;
}

#page-container main {
  /*height: 50vh;*/
  grid-area: main;
  background: dodgerblue;
}

#page-container #aside-right {
  grid-area: right;
  /*background: cadetblue;*/
}

#page-container footer {
  /*height: 100px;*/
  grid-area: footer;
  background: tomato;
}

/* post */
/* todo update media object and profile photo*/
.post-container {
  background: gold;
  padding: 1rem;
  width: 500px;
  border-radius: 2rem;
}
.post__head {
  display: flex;
  background: #65c2e1;
}

.foto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.post__username {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: .5rem;
}

.post__time{
  font-size: 1rem;
}

.post__title{
  margin-top: .5rem;
  font-size: 1.8rem;
}

.post__foot {
  display: flex;
}