:root {
  --color-primary: #42b1d5;
  --color-primary-darker: #2695c2;
  --color-primary-lighter: #65c2e1;
  --color-secondary: #fff;
  --color-accent: tomato;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background: #f1f1f1;
  /*height: 400vh;*/
}

body {
  font-size: 2rem;
  /*margin-top: 2rem;*/
}

/* Header */
.header {
  align-items: center;
  background: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.header__logo-icon {
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

.header__btn {
  margin-right: 1rem;
}

.header__btn:hover {
  cursor: pointer;
}

/* Search */
.search {
  align-items: center;
  border-radius: 2rem;
  border: 1px solid black;
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  width: 50%;
}

.search input {
  margin: 0 .5rem;
  border: none;
  outline: none;
  min-width: 150px;
  flex-grow: 1;
}

.search__icon {
  width: 24px;
  height: 24px;
}

/* create post */
.create-post {
  align-items: center;
  background: #fff;
  border-radius: 3rem;
  display: flex;
  height: 60px;
  padding-left: 0.8rem;
}

.create-post__input {
  background: #fff;
  border-radius: 3rem;
  flex-grow: 1;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
  padding: 0 1rem;
  text-align: left;
  cursor: pointer;
}

.create-post__input:hover {
  background: #f1f1f1;
}

/* picture */
picture {
  height: 50px;
}

/* right container */
#right-container {
  width: 300px;
  max-width: 300px;
}

/* media */
/* todo update whole media */
.media {
  /*margin-top: 1.5rem;*/
  display: flex;
  padding: 1rem;
}

.media__profile-photo {
  border-radius: 50%;
  /*padding: 1rem 1rem;*/
}

.media__name {
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
}

.media__content {
  font-size: 1.6rem;
  margin-top: .8rem;
  /*padding-top: 0;*/
}

/* Buttons */
button {
  border-radius: 2rem;
  border: none;
  outline: none;
}

button:hover > #thumb-up {
  fill: #1eff1e;
}

button:hover > #thumb-down {
  fill: red;
}

.btn--padding {
  padding: .7rem 2rem;
}

.btn--round {
  width: 40px;
  height: 40px;
}

button.pressed.color--primary, button.pressed:focus {
  background-color: var(--color-primary-darker);
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

.btn--primary:hover {
  background: var(--color-primary-lighter);
  color: white;
}

/* you may know */
.add-friend-person {
  padding: 1rem;
  background: #fff;
  border-radius: 2rem;
}

.add-friend-person > span {
  font-size: 2rem;
}

/* Icon (svg) */
.icon {
  width: 20px;
  height: 20px;
}

.icon--primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.icon--secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

/* new post*/
.new-post-container {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /*border: 1px dotted red;*/
}

.post-new__head {
  display: flex;
  /*border: 1px red dotted;*/
  align-items: center;
  /*background: #65c2e1;*/
  /*height: 5rem;*/
}

.post-new__user-name {
  font-size: 3rem;
}

.post-new__body {
  margin: 2rem 0;
  flex-grow: 1;
  /*background-color: gold;*/
}

.post-new__body-textarea {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  resize: none;
  outline: 0;
  border: none;
  background: #f8f5f5;
  border-radius: 1rem;
}

.post-new__foot {
  display: flex;
  justify-content: flex-end;
}

/* Page-container - structure */
/* todo update(delete) background on every element in this section*/
#page-container {
  /*border: 2px dotted green;*/
  display: grid;
  grid-template-rows: 5rem 1fr 10rem; /* height of rows */
  grid-template-columns: 300px 600px 300px; /* todo update accordingly */
  grid-template-areas:
          "header header header"
          "left   main   right"
          "footer footer footer";
  justify-content: center;
  gap: 20px
}

#page-container header {
  grid-area: header;
  /*background: gold;*/
}

#page-container #aside-left {
  grid-area: left;
  background: aquamarine;
}

#page-container main {
  /*height: 50vh;*/
  grid-area: main;
  background: dodgerblue;
}

#page-container #aside-right {
  grid-area: right;
  /*background: cadetblue;*/
}

#page-container footer {
  /*height: 100px;*/
  grid-area: footer;
  background: tomato;
}

/* post */
/* todo update media object and profile photo*/
.post-container {
  background: #fff;
  padding: 1rem;
  width: 500px;
  border-radius: 2rem;
}

.post-container:hover {
  /*background: #65c2e1;*/
}

.post__head {
  display: flex;
  /*background: #65c2e1;*/
}

.foto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.post__username {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-top: .5rem;
}

.post__time {
  font-size: 1rem;
}

.post__title {
  margin-top: .5rem;
  font-size: 1.8rem;
}

.post__body {
  margin-top: 1.5rem;
}

.post__foot {
  display: flex;
  margin-top: 1.5rem;
  column-gap: 1rem;
}

/* likes */
.likes-container {
  display: flex;
  /*position: absolute;*/
  background: #F0F0F0;
  border-radius: 20px;
  align-items: center;
}

#thumb-down {
  rotate: 180deg;
}

.likes-count {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

/* comments */
#btn-comments {
  display: flex;
  border-radius: 20px;
  border: none;
  padding: 0 .5rem;
  height: 40px;
  width: auto;
  align-items: center;
  /*font-size: 1.3rem;*/
}

.comments-count {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Colors */
.color--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  fill: var(--color-secondary);
}