/* todo add responsive design!!! */
:root {
  --color-primary: #42b1d5;
  --color-primary-darker: #2695c2;
  --color-primary-lighter: #65c2e1;
  --color-secondary: #fff;
  --color-accent: tomato;
  --color-background: #e1e1e1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background: var(--color-background);
}

body {
  font-size: 2rem;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  resize: none;
  outline: 0;
  border: none;
  background: #f8f5f5;
  border-radius: 1rem;
  padding: 0.7rem;
}

/* Header */
.header {
  align-items: center;
  background: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  font-size: 1.5rem;
}

.header__logo-icon {
  width: 48px;
  height: 48px;
}

/* Search */
.search {
  align-items: center;
  border-radius: 2rem;
  border: 1px solid black;
  display: flex;
  height: 4rem;
  padding: 0 1rem;
  width: 50%;
}

.search input {
  margin: 0 .5rem;
  border: none;
  outline: none;
  min-width: 150px;
  flex-grow: 1;
}

.search__icon {
  width: 24px;
  height: 24px;
}

/* Icon (svg) */
.icon {
  width: 20px;
  height: 20px;
}

.icon--primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.icon--secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

/* Buttons */
button {
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover > #thumb-up {
  fill: #1eff1e;
}

button:hover > #thumb-down {
  fill: red;
}

.btn--padding {
  padding: .7rem 2rem;
}

.btn--round {
  width: 40px;
  height: 40px;
}

button.pressed.color--primary, button.pressed:focus {
  background-color: var(--color-primary-darker);
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

.btn--primary:hover {
  background: var(--color-primary-lighter);
  color: white;
}

.btn-comments {
  display: flex;
  height: 40px;
  align-items: center;
}

/* Images */
.profile-photo {
  border-radius: 50%;
  height: 50px;
}

picture {
  height: 50px;
}

/* Media */
.media {
  display: flex;
  column-gap: 1rem;
}

.media__description {
  line-height: 2rem;
}

.media__description p {
  font-size: 1.4rem;
  margin: 0;
}

.media__name {
  font-weight: bold;
  font-size: 1.6rem;
}

.media__description button {
  margin-top: 1rem;
}

/* Create post "button" */
.create-post {
  align-items: center;
  background: var(--color-secondary);
  border-radius: 3rem;
  display: flex;
  column-gap: 1rem;
  height: 60px;
  padding-left: 0.8rem;
}

.create-post__input {
  background: #f1f1f1;
  border-radius: 3rem;
  flex-grow: 1;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
  text-align: left;
  cursor: pointer;
}

.create-post__input:hover {
  background: lightgray;
}

/* Post */
.post {
  background: var(--color-secondary);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

#post-new {
  height: 400px;
}

.post__head {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.post__username {
  font-weight: bold;
  margin-top: .5rem;
}

.post__time {
  font-size: 1rem;
}

.post__title {
  font-size: 1.8rem;
}

.post__body {
  flex-grow: 1;
}

.post__foot {
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
}

/* Colors */
.color--primary {
  background: var(--color-primary);
  color: var(--color-secondary);
  fill: var(--color-secondary);
}

/* likes */
.likes-container {
  display: flex;
  background: var(--color-primary);
  border-radius: 20px;
  align-items: center;
}

#thumb-down {
  rotate: 180deg;
}

/* Uncategorized */
.margin-left5 {
  margin-left: 5px;
}

.number {
  font-size: 1.5rem;
}

/* Page-container - structure */
/* todo update(delete) background on every element in this section*/
#page-container {
  /*border: 2px dotted green;*/
  display: grid;
  grid-template-rows: 5rem 1fr 10rem; /* height of rows */
  grid-template-columns: 300px 600px 300px; /* todo update accordingly */
  grid-template-areas:
          "header header header"
          "left   main   right"
          "footer footer footer";
  justify-content: center;
  gap: 20px
}

#page-container header {
  grid-area: header;
  /*background: gold;*/
}

#page-container #aside-left {
  grid-area: left;
  background: aquamarine;
}

#page-container main {
  /*height: 50vh;*/
  grid-area: main;
  /*background: dodgerblue;*/
}

#page-container #aside-right {
  grid-area: right;
  /*background: cadetblue;*/
}

#page-container footer {
  /*height: 100px;*/
  grid-area: footer;
  background: tomato;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* Add friend */
.add-friend {
  background: var(--color-secondary);
  padding: 1rem;
  border-radius: 2rem;
}

/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-child {
  position: absolute;
  background: #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Register Login */
#login-register {
  padding: 20px;
  /*background-color: var(--color-secondary);*/
  text-align: center;
}

.register-logo {
  /*display: flex;*/
  /*column-gap: 1rem;*/
  /*align-items: center;*/
}

#login-register > p {
  margin: 0;
  font-weight: bold;
}

.register-input{
  display: flex;
  border-radius: 1rem;
  border: 1px solid black;
  background: var(--color-secondary);
  padding: .5rem;
}

.register-input > input {
  /*border-radius: 0 1rem 1rem 0;*/
  /*line-height: 5rem;*/
  /*padding: */
  border: none;
  outline: none;
  /*padding: .5rem;*/
  margin: .5rem
}

.register-input > label {
  /*border: 1px solid black;*/
}

#visibility {
  visibility: visible;
}

/* Forms*/
form {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-direction: column;
  row-gap: 2rem;
}

/* Labels */
label {
  /*font-size: 1.5rem;*/
  /*background: var(--color-primary);*/
}

/* Close "× button" */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* nezaradene */
#post-new{
  width: 600px;
}